[user]
	name = {{ .name }}
	email = {{ .email }}

[core]
	editor = vim
	autocrlf = input
	excludesfile = ~/.config/git/ignore
{{- if .wsl }}
	sshCommand = ssh.exe
{{- else if eq .chezmoi.os "windows" }}
	sshCommand = "C:/Windows/System32/OpenSSH/ssh.exe"
{{- end }}

[init]
	defaultBranch = main

[pull]
	rebase = false

[push]
	default = simple
	autoSetupRemote = true

[color]
	ui = auto

[alias]
	st = status
	co = checkout
	br = branch
	ci = commit
	unstage = reset HEAD --
	last = log -1 HEAD
	visual = log --oneline --graph --all
	amend = commit --amend --no-edit
	config-list = config --list --show-origin

{{- if and (eq .chezmoi.os "darwin") (not .codespaces) }}
[credential]
	helper = osxkeychain
{{- else if eq .chezmoi.os "windows" }}
[credential]
	helper = manager
{{- else if and (eq .chezmoi.os "linux") (not .codespaces) }}
[credential]
	helper = cache
{{- end }}

[diff]
	colorMoved = zebra

[merge]
	conflictstyle = diff3

[apply]
        whitespace = nowarn
