# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence, users
# below will be requested for review when someone opens
# a pull request.
*       @DevSecNinja

# To protect a repository fully against unauthorized changes
/.github/CODEOWNERS @DevSecNinja

# Exclude ownership for the following files to prevent Renovate PRs to be assigned
/.github/workflows/*.yaml
/.github/workflows/*.yml
/.mise.toml
