{{- /* Detect special environments first */ -}}
{{- $codespaces:= env "CODESPACES" | not | not -}}
{{- $ci:= env "CI" | not | not -}}

{{- /* Checks if running interactively */ -}}
{{- /* In Codespaces and CI, force non-interactive mode */ -}}
{{- $interactive := and stdinIsATTY (not $codespaces) (not $ci) -}}

{{- /* Initializes the firstname and lastname variables with default values */ -}}
{{- $firstname := "Jean-Paul" -}}
{{- $lastname := "van Ravensberg" -}}

{{- /* If firstname was previously set, reuses it */ -}}
{{- if hasKey . "firstname" -}}
{{-   $firstname = .firstname -}}
{{- /* Otherwise, if running interactively, prompts for firstname */ -}}
{{- else if $interactive -}}
{{-   $firstname = promptString "firstname" $firstname -}}
{{- end -}}

{{- /* If lastname was previously set, reuses it */ -}}
{{- if hasKey . "lastname" -}}
{{-   $lastname = .lastname -}}
{{- /* Otherwise, if running interactively, prompts for lastname */ -}}
{{- else if $interactive -}}
{{-   $lastname = promptString "lastname" $lastname -}}
{{- end -}}

{{- /* Combine firstname and lastname into full name */ -}}
{{- $name := printf "%s %s" $firstname $lastname -}}

{{- /* Username (for system login, etc.) */ -}}
{{- $username := "jean-paul" -}}
{{- if hasKey . "username" -}}
{{-   $username = .username -}}
{{- else if $interactive -}}
{{-   $username = promptString "username" $username -}}
{{- end -}}

{{- /* Does the same for the email */ -}}
{{- $email := "14926452+DevSecNinja@users.noreply.github.com" -}}
{{- if hasKey . "email" -}}
{{-   $email = .email -}}
{{- else if $interactive -}}
{{-   $email = promptString "email" $email -}}
{{- end -}}

{{- if $interactive -}}
{{-   writeToStdout "💡 Tip: you can re-enter your details with `chezmoi init --data=false`.\n" -}}
{{- end -}}
{{- $remoteContainers:= env "REMOTE_CONTAINERS" | not | not -}}
{{- $devcontainer:= or $remoteContainers (stat "/.dockerenv") | not | not -}}
{{- $wsl:= and (lookPath "wslinfo") (output "wslinfo" "--version" | trim | ne "") | not | not -}}

{{- /* Determine installation type based on hostname */ -}}
{{- $installType := "full" -}}
{{- $hostname := .chezmoi.hostname -}}
{{- if $hostname | hasPrefix "SVL" -}}
{{-   if $hostname | hasPrefix "SVLDEV" -}}
{{-     $installType = "full" -}}
{{-     if $interactive -}}
{{-       writeToStdout "🖥️  Dev server detected - installing full dotfiles\n" -}}
{{-     end -}}
{{-   else -}}
{{-     $installType = "light" -}}
{{-     if $interactive -}}
{{-       writeToStdout "🔧 Server detected - installing light dotfiles\n" -}}
{{-     end -}}
{{-   end -}}
{{- else if $codespaces -}}
{{-   $installType = "light" -}}
{{-   if $interactive -}}
{{-     writeToStdout "☁️  Codespaces detected - installing light dotfiles\n" -}}
{{-   end -}}
{{- else if $devcontainer -}}
{{-   $installType = "light" -}}
{{-   if $interactive -}}
{{-     writeToStdout "🐳 Devcontainer detected - installing light dotfiles\n" -}}
{{-   end -}}
{{- else if $ci -}}
{{-   $installType = "light" -}}
{{-   if $interactive -}}
{{-     writeToStdout "🔧 CI environment detected - installing light dotfiles\n" -}}
{{-   end -}}
{{- else -}}
{{-   if $interactive -}}
{{-     writeToStdout "💻 Workstation detected - installing full dotfiles\n" -}}
{{-   end -}}
{{- end -}}

sourceDir: {{ .chezmoi.sourceDir | quote }}

data:
  firstname: {{ $firstname | quote }}
  lastname: {{ $lastname | quote }}
  name: {{ $name | quote }}
  username: {{ $username | quote }}
  codespaces: {{ $codespaces }}
  devcontainer: {{ $devcontainer }}
  wsl: {{ $wsl }}
  ci: {{ $ci }}
  email: {{ $email | quote }}
  installType: {{ $installType | quote }}
