# Adds any 1Password configured hosts (optional, enable via Developer -> Generate SSH config file with bookmarked hosts)
Include ~/.ssh/1Password/config
{{- if and .privateDomain (not .isWork) }}

# Development Server
Host svldev.{{ .privateDomain }}
    HostName svldev.{{ .privateDomain }}

# NAS Server
Host svlnas.{{ .privateDomain }}
    HostName svlnas.{{ .privateDomain }}
    User truenas_admin

# External Azure Server
Host svlazext.{{ .privateDomain }}
    HostName svlazext.{{ .privateDomain }}

# External Azure Public Server
Host svlazextpub.{{ .privateDomain }}
    HostName svlazextpub.{{ .privateDomain }}

{{- end }}

Host *
    User {{ .username }}
{{- if eq .chezmoi.os "darwin" }}
    IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
{{- end }}
